/* Prevent Problems with Different Browsers Here*/
* {box-sizing: border-box;}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    font-size: 16px;
}


/* Header section here */
header {
    background-color: #f6f7ec; 
    padding: 1rem 2vw;
    display: flex;
    align-items: flex-end;
}

header div {
    padding-left: 1vw;
  }

header h1 {
    margin: 0;
    color: #698986;
}

header p {
    margin: 0;
    color: #698986;
    letter-spacing: .5px;
}


/* SMALL screens here*/
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
    
    nav a {
      display: block;
      padding: .83rem 2rem;
      font-size: 1.1rem;
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      text-align: center; 
    }
  
    nav .active a {
    background: rgb(105,137,134);
    background: linear-gradient(0deg, rgba(105,137,134,1) 0%, rgba(61,87,84,1) 100%);
    color: white;
    }
} 
/*end of the media query*/


/* BIG / WIDE screens*/
@media only screen and (min-width: 601px) {
   
    nav {
        border-top: solid 1px #E0E6E6;
        
    }
    
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        display: flex;
    }
    nav a {
        display: block;
        padding: .83rem 2rem;
        font-size: 1.1rem;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        text-align: center; 
    }
    
    nav .active a {
        background: rgb(105,137,134);
        background: linear-gradient(0deg, rgba(105,137,134,1) 0%, rgba(61,87,84,1) 100%);
        color: white;
    }

    nav a:hover {
        color: #000;
    }
  
} 
/*end of the media query*/


/* Navigation section here */
nav {
    background-color: #698986;
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav li.active a {
    background-color: #f6f7ec;
    color: white;
}

nav ul li a.active {
    color: rgb(182, 56, 56);
  }

nav a:hover {
    color: black;
}

.active {
    background-color: #a2afa7;
}


/* Main section here */
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #698986;
    font-size: 2.5rem;
    margin: .5rem 0 .8rem 0;
}
main h2 {
    color: #a2afa7;
    margin-bottom: .2rem;
}

main p {
    color: #2f3133;
    margin: 0 0 .3rem 0
}

main ol {
    padding: .5rem 3vw;
    background-color: #f6f7ec; 
}
  
main df dt {
    color: #2f3133; 
    font-weight: 700; 
}
  
main dl dd {
    color: #2f3133; 
    font-size: .9rem; 
    margin-bottom: 10px;
}
  
main ul {
    list-style-type: circle;
    background-color: #f6f7ec; 
    padding: .5rem 3vw;
}
  
main ul li {
    line-height: 125%;
    margin-bottom: .5rem; 
    font-size: .9rem; 
}
  
main address {
    font-style: normal;
    background-color: #a2afa7; 
    padding: .5rem; 
    width: 12.5rem; 
    border-style: solid; 
    border-color: black; 
    border-radius: .9rem; 
    border-width: 1px;
}
  
main a {
    color: #024873; 
}
  
main a:hover {
    color: #677358;
}

/* Potential extra stuff here*/
.wrapimage {
    width: 50%;
    margin: 0;
    float: right;
    margin-left: 2vw;
}
.wrapimage img {
    width: 100%;
    height: auto;
}
.wrapimage figcaption {
    text-align: center;
    font-size: .8rem;
}

/* Form fection here */
.myform fieldset {
    border:#698986 solid 1px;
    border-radius: 3px;
    margin-bottom: .8rem;
}

.myform legend {
    color: #2f3133;
    font-size: .8rem;
}

.myform label{
    margin: .5rem;
}

.myform label, .myform select, .myform [type=text], .myform [type=tel], .myform textarea, .myform [type=email]{
    display: block;
}

.myform select, .myform select, .myform[type=text], .myform [type=tel], .myform textarea{
    border: solid 1px #888888;
    padding: .3rem; 
    width: 250px; 
    border-radius: .3rem; 
    font-family: 'Montserrat Alternatives';
    font-weight: 200;
}

.myform textarea {
    height: 6rem; 
}

.myform :required{
    background-color: #b9e9f3;
}

.myform [type=submit]{
    background-color: #698986;
    border: none; 
    padding: 1rem 2rem; 
    border-radius: .3rem; 
    color: white; 
    margin: 1rem 0 0 1vw; 
}


/* Footer stuff here */
footer {
    background-color: #f6f7ec; 
    text-align: center; 
    color: #698986;
    padding: 1rem 0; 
    font-size: .8rem; 
    }
    
    footer a{
    color: #698986;
    }

    header, nav, main, footer{
        max-width: 64rem;
        margin: 0 auto;
    }