body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    font-size: 16px;
  }  

/* Header Section Here */ 

header {
  background-color: #f6f7ec; 
  padding: 1rem 2vw; 
}

header h1 {
  margin: 0;
  color: #698986;
}

header p {
  margin: 0; 
  color: #698986;
  letter-spacing: .5px;
}

/* Navigation Secton Here. */ 

nav{
  background-color: #698986;
}

/* nav li {
  border: 1px solid black;
} */

nav ul {
  list-style-type: none;
  padding: 0 2vw;
  margin: 0;
  display: flex;
}


nav a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  display: block;
  padding: .83rem 2rem;
}

nav li.active a {
  background-color: #f6f7ec; 
  color: #677358;
}

nav ul li a.active {
  color: rgb(182, 56, 56);
}

nav a:hover {
color: black;
}

.active {
  background-color: #a2afa7;
}

/* Main Section Here */ 

main {
  padding: 1rem 2vw;
}

main h1{
  color: #698986; 
}

main h2 {
  color: #a2afa7;
  margin-bottom: .2rem;
}

main p{
  color: #2f3133; 
  margin: 0 0 .3rem 0;
}

main ol {
  padding: .5rem 3vw;
  background-color: #f6f7ec; 
}

main df dt {
  color: #2f3133; 
  font-weight: 700; 
}

main dl dd {
  color: #2f3133; 
  font-size: .9rem; 
  margin-bottom: 10px;
}


main ul {
list-style-type: circle;
background-color: #f6f7ec; 
padding: .5rem 3vw;
}

main ul li {
line-height: 125%;
margin-bottom: .5rem; 
font-size: .9rem; 
}


main address {
font-style: normal;
background-color: #a2afa7; 
padding: .5rem; 
width: 12.5rem; 
border-style: solid; 
border-color: black; 
border-radius: .9rem; 
border-width: 1px;
}

main a {
color: #024873; 
}

main a:hover {
color: #677358; 
}

/* Footer Section here */ 

footer {
background-color: #f6f7ec; 
text-align: center; 
color: #698986;
padding: 1rem 0; 
font-size: .8rem; 
}

footer a{
color: #698986;
}